ReactiveUI.Sample/ReactiveUI.Sample/SampleData/SampleAppViewModel/SampleAppViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleAppViewModel" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleAppViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleAppViewModel" type="tns:SampleAppViewModel" />
  <xs:complexType name="SampleAppViewModel">
    <xs:sequence>
      <xs:element name="CompletedBlocks" type="tns:CompletedBlocks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompletedBlocks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CompletedBlocksItem" type="tns:CompletedBlocksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompletedBlocksItem">
    <xs:sequence>
      <xs:element name="Model" type="tns:Model" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="6,8" name="TimespanAsString" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Model">
    <xs:attribute blend:Format="Name" name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>